/* ------------------- */
/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

/* ------------------- */

/* ------------------- */
/* tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */

/* ------------------- */
/* html */

html {
  font-family: "Libre Franklin", sans-serif;
}

/* ------------------- */

/* ------------------- */
/* body */

body {
  @apply dark:text-white bg-gray-50 dark:bg-zinc-950;
}

/* ------------------- */

/* ------------------- */
/* components */

/* icons */

.icon svg > * {
  @apply fill-black dark:fill-white;
}

/* form input */

.input:focus ~ .input-icon {
  @apply -translate-x-3.5 -translate-y-3.5 bg-gray-50 dark:bg-neutral-800 shadow-lg shadow-gray-300 dark:shadow-zinc-900;
}

.input:focus ~ .input-placeholder {
  @apply left-16 opacity-0;
}

/* show password */

.eye-slash::before {
  @apply content-[""] absolute top-0 left-0 w-[120%] h-0.5 bg-black dark:bg-white rounded-xl transition-transform origin-right;
  transform: translate(-5px, 0px) rotate(-45deg) scaleX(0);
}

.eye-slash-visible::before {
  @apply origin-right;
  transform: translate(-5px, 0px) rotate(-45deg) scaleX(1);
}

/* ------------------- */

/* ------------------- */
/* focus */

*:focus {
  @apply outline outline-2 outline-zinc-700 dark:outline-zinc-300 rounded-md;
}

/* ------------------- */
